<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<ol>
  <% @messages.each do |message| %>
    <li>
      <%= message.body %>
      <a class='edit' href='<%= edit_message_path(message.id) %>'></a>
    </li>
  <% end %>
</ol>