<p class='lead'>Login as Jason:</p>
<%= form_tag(:sessions, method: :post) do %>
  <div class='row-fluid'>
    <input type='password' name='password' placeholder="Jason's password" class='span6'>
  </div>
  <div class='row-fluid'>
    <input type='submit' value='Login &rarr;' class='btn btn-primary span6'>
  </div>
<% end %>