.actions {
  display: inline-block;
  .parse,
  .edit,
  .delete,
  .new,
  .clickoff {
    opacity: .7;
    padding-left: 5px;
    i {
      text-align: center;
      text-decoration: none;
      width: 1.25em;
    }
  }

  .clickoff {
    font-size: 12px;
    font-style: italic;
  }
}
