.docs.docs-rule {
  dl {
    margin: 0;
    white-space: nowrap;
  }
  dt,
  dd {
    margin: 6px 0;
  }
  dt {
    font-weight: normal;
  }
  dd {
    padding-left: 16px;
  }
  
  .label,
  .matcher-icon,
  .setter-icon {
    opacity: .9;
  }
  .matcher-icon {
    color: #3a87ad;
  }
  .setter-icon {
    color: #468847;
  }
  
  code {
    white-space: normal;
    em {
      color: teal;
      font-style: normal;
      padding: 0 4px;
      text-decoration: underline;
    }
  }
}
