#textlog form {
  .errors-container {
    color: #b94a48;
    h4 {
      margin-bottom: 6px;
    }
  }

  .btn {
    display: block;
    margin-top: 5px;
  }
  
  .cancel {
    line-height: 38px;
  }
}
