// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages-index {
  .edit:before {
    content: 'edit';
  }
}

.messages-edit {
  .edit_message {
    #message_body, .btn {
      min-width: 210px;
    }
    #message_body {
      box-sizing: border-box;
    }
    .btn {
      display: block;
    }
    .cancel {
      line-height: 28px;
    }
  }
}