// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages-controller.index-action {
  .btn {
    margin-top: 7px;
  }
}

.messages-controller.show-action {
  p {
    margin: 7px 0;
  }
  .activity {
    margin-bottom: 10px;
  }
  .btn {
    margin-bottom: 4px;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.messages-controller.new-action,
.messages-controller.create-action,
.messages-controller.edit-action,
.messages-controller.update-action {
  textarea {
    height: 72px;
  }
}