/* Elements are ordered as they appear on web page */

.rules-controller.new-action,
.rules-controller.create-action,
.rules-controller.edit-action,
.rules-controller.update-action {
  #setters {
    .glyphicon-plus-action {
      line-height: 30px;
      vertical-align: top;
    }
    + div {
      margin: -1px 0 5px;
    }
  }
  
  #fieldset-factory {
    display: none;
  }
}

.rules-controller.index-action {
  form {
    margin: 0;
    #sort-by {
      width: 100%
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .rules-controller.index-action {
    .docs {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

/* Portrait phones and down */
@media (max-width: 320px) {
  .rules-controller.index-action {
    .glyphicon-plus-action {
      /* Hide icons or else actions won't fit in docs header */
      /* http://s23.postimg.org/f8j1bqryj/Screen_Shot_2013_06_03_at_8_16_25_PM.png */
      i {
        display: none;
      }
    }
  }
}
