// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rules-controller.new-action,
.rules-controller.create-action,
.rules-controller.edit-action,
.rules-controller.update-action {
  .actions {
    line-height: 30px;
    vertical-align: top;
  }
  
  .new-row {
    margin-top: -6px;
  }
  
  #fieldset-factory {
    display: none;
  }
}

.rules-controller.index-action {
  form {
    margin: 0;
    #sort-by {
      width: 100%
    }
  }
}

/* Portrait phones and down */
@media (max-width: 320px) {
  .rules-controller.index-action .actions {
    /* Hide icons or else actions won't fit in docs-header */
    /* http://s23.postimg.org/f8j1bqryj/Screen_Shot_2013_06_03_at_8_16_25_PM.png */
    i {
      display: none;
    }
  }
}
