<div class='docs'>
  <div class='docs-header'>
    <h4>
      <%= "Logged #{time_ago(activity.message.updated_at)} ago" %>
    </h4>
  </div>
  
  <%= render 'messages/message', message: activity.message %>
  <%= render 'structured_data', activity: activity %>
</div>

