<!-- TODO month to month change in position -->

<div class='well sidebar-nav'>
  <ul class='nav nav-list'>
    <% if @top_activities_as_hash.present? %>
      <li class='nav-header'>Top activities</li>
      <% @top_activities_as_hash.each do |k, v| %>
        <li><%= link_to top_activity_text(k, v), top_activity_href(k)  %></li>
      <% end %>
    <% end %>

    <% if @top_friends_as_hash.present? %>
      <li class='nav-header'>Top activity partners</li>
      <% @top_friends_as_hash.each do |k, v| %>
        <li><%= link_to top_friend_text(k, v), top_friend_href(k)  %></li>
      <% end %>
    <% end %>
  </ul>
</div><!--/.well -->
