<div class='well sidebar-nav'>
  <ul class='nav nav-list'>
    <% if @top_activities.present? %>
      <li class='nav-header'>Top activities</li>
      <% @top_activities.each do |activity| %>
        <li><%= link_to activity_with_count(*activity),
                        activity_href(*activity) %></li>
      <% end %>
    <% end %>

    <% if @top_friends.present? %>
      <li class='nav-header'>Top activity partners</li>
      <% @top_friends.each do |friend| %>
        <li class='picture-plus-name'>
          <a href='<%= friend_href(*friend) %>'>
            <%= image_tag profile_pic(*friend) %>
            <%= friend_with_count(*friend) %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
