<div class='well sidebar-nav'>
  <ul class='nav nav-list'>
    <li class='nav-header'>Sort by</li>
    <li>
      <form action='<%= rules_path %>' method='get'>
        <% if params[:command].present? %>
          <%= hidden_field_tag :command, params[:command] %>
        <% end %>
        <%= select_tag 'sort-by',
                       options_for_select(sort_by_options, params['sort-by']) %>
      </form>
    </li>
    <li class='nav-header'>Filter by type</li>
    <% Activity::COMMANDS.each_with_index do |command, i| %>
      <li><%= link_to setter_name(command, i), setter_href(command) %></li>
    <% end %>
  </ul>
</div>
